
\.gradle/4\.10\.1/fileHashes/fileHashes\.bin

*.bin

\.idea/libraries/

\.gradle/4\.10\.1/fileHashes/

\.gradle/4\.10\.1/javaCompile/

\.gradle/4\.10\.1/taskHistory/

\.gradle/buildOutputCleanup/

\.idea/

admin/demo/

build/intermediates/lint-cache/maven\.google/com/android/support/constraint/

build/intermediates/lint-cache/sdk-registry\.xml/

build/intermediates/lint-cache/maven\.google/com/android/support/test/

build/intermediates/lint-cache/maven\.google/

local\.properties

android_seeUs_config_app\.iml

*.apk

admin/debug/output\.json

*.lock

\.gradle/5\.1\.1/gc\.properties

\.gradle/4\.10\.1/gc\.properties


gradle/wrapper/gradle-wrapper\.jar

build/kotlin/sessions/kotlin-compiler-8537713886875921052\.salive

build/kotlin/sessions/kotlin-compiler-8469445807647107430\.salive

build/kotlin/sessions/

.gradle/5.4.1/gc.properties

.gradle/6.1.1/gc.properties

.gradle/vcs-1/gc.properties

gradle/wrapper/gradle-wrapper.properties

*.aab

.gradle/7.5.1/

.gradle/
